openapi: 3.2.0
info:
  title: sevdesk Check Account API
  description: The sevdesk API is a RESTful interface to the sevdesk cloud accounting and invoicing platform.
  version: '1.0'
  contact:
    name: sevdesk
    url: https://api.sevdesk.de/
servers:
- url: https://my.sevdesk.de/api/v1
  description: sevdesk main application instance
security:
- api_key: []
tags:
- name: CheckAccount
  description: Bank and clearing check accounts.
paths:
  /CheckAccount:
    get:
      operationId: getCheckAccounts
      tags:
      - CheckAccount
      summary: Retrieve check accounts
      description: Retrieves the list of bank and clearing check accounts.
      responses:
        '200':
          description: A list of check accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CheckAccount/{checkAccountId}:
    parameters:
    - $ref: '#/components/parameters/CheckAccountId'
    get:
      operationId: getCheckAccountById
      tags:
      - CheckAccount
      summary: Find check account by ID
      description: Retrieves a single check account by its ID.
      responses:
        '200':
          description: The requested check account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer
    ObjectResponse:
      type: object
      description: Standard sevdesk single-object envelope.
      properties:
        objects:
          type: object
          additionalProperties: true
    ObjectList:
      type: object
      description: Standard sevdesk list envelope. The objects array carries the requested resources.
      properties:
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
  parameters:
    CheckAccountId:
      name: checkAccountId
      in: path
      required: true
      description: The ID of the check account.
      schema:
        type: integer
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: Per-administrator sevdesk API token - a 32-character hexadecimal string found in the sevdesk web app under user settings. Passed as the raw value of the `Authorization` header (no `Bearer` prefix). Tokens have an infinite lifetime.
