openapi: 3.2.0
info:
  title: sevdesk Credit Note API
  description: The sevdesk API is a RESTful interface to the sevdesk cloud accounting and invoicing platform.
  version: '1.0'
  contact:
    name: sevdesk
    url: https://api.sevdesk.de/
servers:
- url: https://my.sevdesk.de/api/v1
  description: sevdesk main application instance
security:
- api_key: []
tags:
- name: Credit Note
  description: Credit notes issued to contacts.
paths:
  /CreditNote:
    get:
      operationId: getCreditNotes
      tags:
      - Credit Note
      summary: Retrieve CreditNote
      description: Retrieves a list of credit notes.
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CreditNote/Factory/saveCreditNote:
    post:
      operationId: createcreditNote
      tags:
      - Credit Note
      summary: Create a new creditNote
      description: Creates a new credit note together with its positions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: The created credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Limits the number of entries returned.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      required: false
      description: Number of entries to skip for pagination.
      schema:
        type: integer
    Embed:
      name: embed
      in: query
      required: false
      description: Comma-separated list of nested resources to embed fully in the response instead of returning only their id and objectName.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer
    ObjectResponse:
      type: object
      description: Standard sevdesk single-object envelope.
      properties:
        objects:
          type: object
          additionalProperties: true
    ObjectList:
      type: object
      description: Standard sevdesk list envelope. The objects array carries the requested resources.
      properties:
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: Per-administrator sevdesk API token - a 32-character hexadecimal string found in the sevdesk web app under user settings. Passed as the raw value of the `Authorization` header (no `Bearer` prefix). Tokens have an infinite lifetime.
