openapi: 3.0.3
info:
  title: sevdesk API
  description: >-
    The sevdesk API is a RESTful interface to the sevdesk cloud accounting and
    invoicing platform. Every function and every piece of data available in the
    sevdesk web application can also be driven through this API - contacts,
    invoices, orders, credit notes, vouchers (receipts), bank check accounts and
    transactions, parts (inventory), and tags. All requests are authenticated
    with a per-administrator API token, passed as the value of an `Authorization`
    header. Nested resources can be pulled in with the `embed` query parameter.


    This OpenAPI document is a grounded, representative subset authored by API
    Evangelist from sevdesk's official OpenAPI specification (openapi 3.0.0,
    reported API version 2.0.0, served at https://my.sevdesk.de/api/v1). The
    paths, HTTP methods, operationIds, and the apiKey security scheme are taken
    directly from the official specification; request and response schemas here
    are simplified representations of the far richer official models. See
    review.yml for confirmed-vs-modeled detail.
  version: '1.0'
  contact:
    name: sevdesk
    url: https://api.sevdesk.de/
servers:
  - url: https://my.sevdesk.de/api/v1
    description: sevdesk main application instance
security:
  - api_key: []
tags:
  - name: Contact
    description: Contacts - customers, suppliers, and other business partners.
  - name: Invoice
    description: Outgoing invoices and their lifecycle.
  - name: Order
    description: Orders, quotations, and packing lists.
  - name: CreditNote
    description: Credit notes issued to contacts.
  - name: Voucher
    description: Vouchers (receipts) used for expense and revenue bookkeeping.
  - name: CheckAccount
    description: Bank and clearing check accounts.
  - name: CheckAccountTransaction
    description: Transactions booked against a check account.
  - name: Part
    description: Parts / articles with stock (inventory).
  - name: Tag
    description: Tags and tag relations used to label resources.
paths:
  /Contact:
    get:
      operationId: getContacts
      tags: [Contact]
      summary: Retrieve contacts
      description: Retrieves a list of contacts, optionally filtered and embedded.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createContact
      tags: [Contact]
      summary: Create a new contact
      description: Creates a new contact (organisation or person).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: The created contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Contact/{contactId}:
    parameters:
      - $ref: '#/components/parameters/ContactId'
    get:
      operationId: getContactById
      tags: [Contact]
      summary: Find contact by ID
      description: Retrieves a single contact by its ID.
      responses:
        '200':
          description: The requested contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateContact
      tags: [Contact]
      summary: Update a existing contact
      description: Updates an existing contact.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: The updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteContact
      tags: [Contact]
      summary: Deletes a contact
      description: Deletes a contact.
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /Contact/Factory/getNextCustomerNumber:
    get:
      operationId: getNextCustomerNumber
      tags: [Contact]
      summary: Get next free customer number
      description: Returns the next free customer number sevdesk would assign.
      responses:
        '200':
          description: The next free customer number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Invoice:
    get:
      operationId: getInvoices
      tags: [Invoice]
      summary: Retrieve invoices
      description: Retrieves a list of invoices.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Invoice/{invoiceId}:
    parameters:
      - $ref: '#/components/parameters/InvoiceId'
    get:
      operationId: getInvoiceById
      tags: [Invoice]
      summary: Find invoice by ID
      description: Retrieves a single invoice by its ID.
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /Invoice/Factory/saveInvoice:
    post:
      operationId: createInvoiceByFactory
      tags: [Invoice]
      summary: Create a new invoice
      description: >-
        Creates a new invoice together with its positions in a single call using
        the saveInvoice factory endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Invoice plus invoicePosSave / invoicePosDelete arrays.
      responses:
        '201':
          description: The created invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Invoice/{invoiceId}/getPdf:
    parameters:
      - $ref: '#/components/parameters/InvoiceId'
    get:
      operationId: invoiceGetPdf
      tags: [Invoice]
      summary: Retrieve pdf document of an invoice
      description: Returns the rendered PDF document for an invoice.
      responses:
        '200':
          description: The PDF document metadata and base64 content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /Invoice/{invoiceId}/sendViaEmail:
    parameters:
      - $ref: '#/components/parameters/InvoiceId'
    post:
      operationId: sendInvoiceViaEMail
      tags: [Invoice]
      summary: Send invoice via email
      description: Sends the invoice to a recipient by email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                toEmail:
                  type: string
                subject:
                  type: string
                text:
                  type: string
      responses:
        '201':
          description: Send confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Order:
    get:
      operationId: getOrders
      tags: [Order]
      summary: Retrieve orders
      description: Retrieves a list of orders (quotations, order confirmations).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Order/Factory/saveOrder:
    post:
      operationId: createOrder
      tags: [Order]
      summary: Create a new order
      description: Creates a new order together with its positions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: The created order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Order/{orderId}:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    get:
      operationId: getOrderById
      tags: [Order]
      summary: Find order by ID
      description: Retrieves a single order by its ID.
      responses:
        '200':
          description: The requested order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateOrder
      tags: [Order]
      summary: Update an existing order
      description: Updates an existing order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteOrder
      tags: [Order]
      summary: Deletes an order
      description: Deletes an order.
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /CreditNote:
    get:
      operationId: getCreditNotes
      tags: [CreditNote]
      summary: Retrieve CreditNote
      description: Retrieves a list of credit notes.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CreditNote/Factory/saveCreditNote:
    post:
      operationId: createcreditNote
      tags: [CreditNote]
      summary: Create a new creditNote
      description: Creates a new credit note together with its positions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: The created credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Voucher:
    get:
      operationId: getVouchers
      tags: [Voucher]
      summary: Retrieve vouchers
      description: Retrieves a list of vouchers (receipts).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of vouchers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Voucher/Factory/saveVoucher:
    post:
      operationId: voucherFactorySaveVoucher
      tags: [Voucher]
      summary: Create a new voucher
      description: Creates a new voucher together with its positions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: The created voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Voucher/{voucherId}:
    parameters:
      - $ref: '#/components/parameters/VoucherId'
    get:
      operationId: getVoucherById
      tags: [Voucher]
      summary: Find voucher by ID
      description: Retrieves a single voucher by its ID.
      responses:
        '200':
          description: The requested voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /CheckAccount:
    get:
      operationId: getCheckAccounts
      tags: [CheckAccount]
      summary: Retrieve check accounts
      description: Retrieves the list of bank and clearing check accounts.
      responses:
        '200':
          description: A list of check accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CheckAccount/{checkAccountId}:
    parameters:
      - $ref: '#/components/parameters/CheckAccountId'
    get:
      operationId: getCheckAccountById
      tags: [CheckAccount]
      summary: Find check account by ID
      description: Retrieves a single check account by its ID.
      responses:
        '200':
          description: The requested check account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /CheckAccountTransaction:
    get:
      operationId: getTransactions
      tags: [CheckAccountTransaction]
      summary: Retrieve transactions
      description: Retrieves transactions booked against check accounts.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTransaction
      tags: [CheckAccountTransaction]
      summary: Create a new transaction
      description: Creates a new check account transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: The created transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Part:
    get:
      operationId: getParts
      tags: [Part]
      summary: Retrieve parts
      description: Retrieves a list of parts / articles.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of parts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPart
      tags: [Part]
      summary: Create a new part
      description: Creates a new part / article.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Part'
      responses:
        '201':
          description: The created part.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Part/{partId}/getStock:
    parameters:
      - $ref: '#/components/parameters/PartId'
    get:
      operationId: partGetStock
      tags: [Part]
      summary: Get stock of a part
      description: Returns the current stock quantity of a part.
      responses:
        '200':
          description: The current stock.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /Tag:
    get:
      operationId: getTags
      tags: [Tag]
      summary: Retrieve tags
      description: Retrieves the list of tags.
      responses:
        '200':
          description: A list of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Tag/Factory/create:
    post:
      operationId: createTag
      tags: [Tag]
      summary: Create a new tag
      description: Creates a new tag and relates it to an object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                objectType:
                  type: string
      responses:
        '201':
          description: The created tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: >-
        Per-administrator sevdesk API token - a 32-character hexadecimal string
        found in the sevdesk web app under user settings. Passed as the raw value
        of the `Authorization` header (no `Bearer` prefix). Tokens have an
        infinite lifetime.
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Limits the number of entries returned.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      required: false
      description: Number of entries to skip for pagination.
      schema:
        type: integer
    Embed:
      name: embed
      in: query
      required: false
      description: >-
        Comma-separated list of nested resources to embed fully in the response
        instead of returning only their id and objectName.
      schema:
        type: string
    ContactId:
      name: contactId
      in: path
      required: true
      description: The ID of the contact.
      schema:
        type: integer
    InvoiceId:
      name: invoiceId
      in: path
      required: true
      description: The ID of the invoice.
      schema:
        type: integer
    OrderId:
      name: orderId
      in: path
      required: true
      description: The ID of the order.
      schema:
        type: integer
    VoucherId:
      name: voucherId
      in: path
      required: true
      description: The ID of the voucher.
      schema:
        type: integer
    CheckAccountId:
      name: checkAccountId
      in: path
      required: true
      description: The ID of the check account.
      schema:
        type: integer
    PartId:
      name: partId
      in: path
      required: true
      description: The ID of the part.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ObjectList:
      type: object
      description: >-
        Standard sevdesk list envelope. The objects array carries the requested
        resources.
      properties:
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
    ObjectResponse:
      type: object
      description: Standard sevdesk single-object envelope.
      properties:
        objects:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer
    Contact:
      type: object
      description: >-
        A sevdesk contact. Simplified subset of the official model; either name
        (organisation) or surname/familyname (person) is used together with a
        category.
      properties:
        name:
          type: string
          description: Organisation name (for company contacts).
        surename:
          type: string
          description: Given name (for person contacts).
        familyname:
          type: string
          description: Family name (for person contacts).
        customerNumber:
          type: string
        category:
          type: object
          description: Contact category reference (id + objectName Category).
          properties:
            id:
              type: integer
            objectName:
              type: string
      required:
        - category
    Part:
      type: object
      description: A part / article with pricing and stock.
      properties:
        name:
          type: string
        partNumber:
          type: string
        stock:
          type: number
        price:
          type: number
        unity:
          type: object
          description: Unit reference (id + objectName Unity).
          properties:
            id:
              type: integer
            objectName:
              type: string
      required:
        - name
        - partNumber
        - unity
