openapi: 3.0.3
info:
  title: sevdesk CheckAccount Voucher API
  description: 'The sevdesk API is a RESTful interface to the sevdesk cloud accounting and invoicing platform. Every function and every piece of data available in the sevdesk web application can also be driven through this API - contacts, invoices, orders, credit notes, vouchers (receipts), bank check accounts and transactions, parts (inventory), and tags. All requests are authenticated with a per-administrator API token, passed as the value of an `Authorization` header. Nested resources can be pulled in with the `embed` query parameter.


    This OpenAPI document is a grounded, representative subset authored by API Evangelist from sevdesk''s official OpenAPI specification (openapi 3.0.0, reported API version 2.0.0, served at https://my.sevdesk.de/api/v1). The paths, HTTP methods, operationIds, and the apiKey security scheme are taken directly from the official specification; request and response schemas here are simplified representations of the far richer official models. See review.yml for confirmed-vs-modeled detail.'
  version: '1.0'
  contact:
    name: sevdesk
    url: https://api.sevdesk.de/
servers:
- url: https://my.sevdesk.de/api/v1
  description: sevdesk main application instance
security:
- api_key: []
tags:
- name: Voucher
  description: Vouchers (receipts) used for expense and revenue bookkeeping.
paths:
  /Voucher:
    get:
      operationId: getVouchers
      tags:
      - Voucher
      summary: Retrieve vouchers
      description: Retrieves a list of vouchers (receipts).
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Embed'
      responses:
        '200':
          description: A list of vouchers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Voucher/Factory/saveVoucher:
    post:
      operationId: voucherFactorySaveVoucher
      tags:
      - Voucher
      summary: Create a new voucher
      description: Creates a new voucher together with its positions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: The created voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Voucher/{voucherId}:
    parameters:
    - $ref: '#/components/parameters/VoucherId'
    get:
      operationId: getVoucherById
      tags:
      - Voucher
      summary: Find voucher by ID
      description: Retrieves a single voucher by its ID.
      responses:
        '200':
          description: The requested voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Embed:
      name: embed
      in: query
      required: false
      description: Comma-separated list of nested resources to embed fully in the response instead of returning only their id and objectName.
      schema:
        type: string
    VoucherId:
      name: voucherId
      in: path
      required: true
      description: The ID of the voucher.
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      required: false
      description: Limits the number of entries returned.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      required: false
      description: Number of entries to skip for pagination.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ObjectResponse:
      type: object
      description: Standard sevdesk single-object envelope.
      properties:
        objects:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer
    ObjectList:
      type: object
      description: Standard sevdesk list envelope. The objects array carries the requested resources.
      properties:
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: Per-administrator sevdesk API token - a 32-character hexadecimal string found in the sevdesk web app under user settings. Passed as the raw value of the `Authorization` header (no `Bearer` prefix). Tokens have an infinite lifetime.
