openapi: 3.2.0
info:
  title: sevdesk Part API
  description: The sevdesk API is a RESTful interface to the sevdesk cloud accounting and invoicing platform.
  version: '1.0'
  contact:
    name: sevdesk
    url: https://api.sevdesk.de/
servers:
- url: https://my.sevdesk.de/api/v1
  description: sevdesk main application instance
security:
- api_key: []
tags:
- name: Part
  description: Parts / articles with stock (inventory).
paths:
  /Part:
    get:
      operationId: getParts
      tags:
      - Part
      summary: Retrieve parts
      description: Retrieves a list of parts / articles.
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of parts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPart
      tags:
      - Part
      summary: Create a new part
      description: Creates a new part / article.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Part'
      responses:
        '201':
          description: The created part.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Part/{partId}/getStock:
    parameters:
    - $ref: '#/components/parameters/PartId'
    get:
      operationId: partGetStock
      tags:
      - Part
      summary: Get stock of a part
      description: Returns the current stock quantity of a part.
      responses:
        '200':
          description: The current stock.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Limits the number of entries returned.
      schema:
        type: integer
    PartId:
      name: partId
      in: path
      required: true
      description: The ID of the part.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      required: false
      description: Number of entries to skip for pagination.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer
    Part:
      type: object
      description: A part / article with pricing and stock.
      properties:
        name:
          type: string
        partNumber:
          type: string
        stock:
          type: number
        price:
          type: number
        unity:
          type: object
          description: Unit reference (id + objectName Unity).
          properties:
            id:
              type: integer
            objectName:
              type: string
      required:
      - name
      - partNumber
      - unity
    ObjectResponse:
      type: object
      description: Standard sevdesk single-object envelope.
      properties:
        objects:
          type: object
          additionalProperties: true
    ObjectList:
      type: object
      description: Standard sevdesk list envelope. The objects array carries the requested resources.
      properties:
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: Per-administrator sevdesk API token - a 32-character hexadecimal string found in the sevdesk web app under user settings. Passed as the raw value of the `Authorization` header (no `Bearer` prefix). Tokens have an infinite lifetime.
