openapi: 3.2.0
info:
  title: sevdesk Tag API
  description: The sevdesk API is a RESTful interface to the sevdesk cloud accounting and invoicing platform.
  version: '1.0'
  contact:
    name: sevdesk
    url: https://api.sevdesk.de/
servers:
- url: https://my.sevdesk.de/api/v1
  description: sevdesk main application instance
security:
- api_key: []
tags:
- name: Tag
  description: Tags and tag relations used to label resources.
paths:
  /Tag:
    get:
      operationId: getTags
      tags:
      - Tag
      summary: Retrieve tags
      description: Retrieves the list of tags.
      responses:
        '200':
          description: A list of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Tag/Factory/create:
    post:
      operationId: createTag
      tags:
      - Tag
      summary: Create a new tag
      description: Creates a new tag and relates it to an object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                objectType:
                  type: string
      responses:
        '201':
          description: The created tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ObjectResponse:
      type: object
      description: Standard sevdesk single-object envelope.
      properties:
        objects:
          type: object
          additionalProperties: true
    ObjectList:
      type: object
      description: Standard sevdesk list envelope. The objects array carries the requested resources.
      properties:
        objects:
          type: array
          items:
            type: object
            additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: integer
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: Per-administrator sevdesk API token - a 32-character hexadecimal string found in the sevdesk web app under user settings. Passed as the raw value of the `Authorization` header (no `Bearer` prefix). Tokens have an infinite lifetime.
